<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>about</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Twinkal Raj. It uses data from map.com and darkesh </p>
        <img class="img" src="./images/Himanshu Maurya.jpg" alt="image">
    </div>
    {{>footer}}
</body>

</html>